body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;|
}
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/*header*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.logo-part {
  color: #2e2f42;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
display: block;
fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-button{
    display:none;
  }
.header-logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }
.header-nav {
    display: flex;
    align-items: center;
  }
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
.contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.current {
    color: #404bbf;
    position: relative;
  }

.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    content: "";
  }

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts{
  font-style: normal;
  display: block;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts-link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
  .header {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .header-logo {
    margin-right: 76px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    font-style: normal;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}



.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4,0,0.2,1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0%);
}


.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-mobile {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover,
.burger-button:focus {
    border: none;
    fill: #ffffff;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio {
  color: #404bbf;
}

.mobile-address {
  font-style: normal;
  margin-bottom: 48px;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-address-link-tel {
  color: #4d5ae5;
}
.mob-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mob-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}

.icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 768px) {
  .mobile-menu {
      display: none;
  }
}

.solutions {
  padding: 72px 0px;
  background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
  image-set(url(../images/people-office/people-office-mob.jpg) 1x,
  url(../images/people-office/people-office-mob2x.jpg) 2x ) ;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}
.solutions-title {
  max-width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.solutions-button {
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background: #4d5ae5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-button:hover,
.solutions-button:focus{
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

@media screen and (min-width: 768px){
  .solutions {
    padding: 112px 0px;
    background-image:linear-gradient(to bottom,
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
    image-set(url(../images/people-office/people-office-tab.jpg) 1x,
          url(../images/people-office/people-office-tab2x.jpg) 2x );
      }
      
  
  .solutions-title {
    font-weight: 700;
    line-height: 107%;
    letter-spacing: 0.02em;
    max-width: 496px;
    font-size: 56px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
 }
 

@media screen and (min-width: 1158px){
  .solutions {
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0px;
  background-image:linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
  image-set(url(../images/people-office/people-office.jpg ) 1x,
  url(../images/people-office/people-office2x.jpg) 2x );

  }
  
  .solutions-title {
  text-align: justify;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  }
      
}


.section-features {
  padding: 96px 0;
}

.subtitle {
  font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.future-list {
  display: flex;
    flex-direction: column;
    gap: 72px;
}

.icon-images {
  display: none;
}

.future-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align:left;
  margin-bottom: 8px;
}

.future-text {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px){
  .future-list{  
     flex-direction: row;
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
        
  }
  .future-item{
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  flex-basis: calc( ( 100% - 24px ) / 2);
  }
  }


  @media screen and (min-width: 1158px){
    .section-features {
        padding: 120px 0;
        }
    .future-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
        }
    .future-item {  
        gap: 8px;
        width: calc((100% - 72px) / 4);
        }
    .icon-images {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        width: 264px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }
    .future-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .future-text {
        font-weight: 400;
    }
    }
    

    /*section team*/


.team{
  background-color: #f4f4fd;
  padding: 96px 0px;
  }

  .subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .team-link {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
    background-color: #FFFFFF;

  }

  .container-team {
    padding: 32px 16px;
  }

  .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
  }

  .team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-networks-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-icon-svg {
    fill: #f4f4fd;
  }

  .social-networks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-networks-link:hover, 
  .social-networks-link:focus {
    background-color: #404bbf;
  }
  @media screen and (min-width: 768px){

    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }
    .team-link {
        max-width: 264px; 
        flex-basis: calc((100% - 24px) / 2);
    }
    }
    @media screen and (min-width: 1158px){
    .team {
            padding: 120px 0;
        }
    
    .team-link {
        flex-basis: calc((100% - 72px) / 4);
    }
    }

    /*section portfolio*/

    .portfolio {
      padding: 96px 0;
    }

    .portfolio-overlay {
      display: none;
    }
    .portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    }
    .container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
    justify-content: flex-start;
    }




 @media screen and (min-width: 768px){
  .portfolio-list{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
   column-gap: 24px;
   justify-content: center;
        align-items: center;
      }
      .portfolio-list-li{
        flex-basis: calc((100% - 24px) / 2);
      }
    }
    
@media screen and (min-width: 1158px){
  .portfolio {
  padding: 120px 0;
   }
  .portfolio-list {
   row-gap: 48px;
   }
  .portfolio-list-li {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  .portfolio-wrapper{
  position: relative;
  overflow: hidden;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
  .portfolio-list-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
        }
  .portfolio-overlay {
    isplay: block;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  .portfolio-list-li:hover .portfolio-overlay {
  transform: translateY(0);
    }
  }
    

    /*footer*/

.footer {
  display: flex;
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
  margin: 0 auto;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  text-align: left;
}
.social-networks-footer-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}
.social-networks-item {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.footer-email {
  text-align: center;
}
.footer-text-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  max-width: 350px;
}
.footer-input {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}
.social-networks-link-footer:hover,
.social-networks-link-footer:focus {
  background-color: #31d0aa;
} 

.footer-button {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin-top: 16px;
}
.form-icon {
  margin-left: 16px;
  fill: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 24px;
    row-gap: 72px;
    max-width: 704px;
    width: 584px;
    margin: 0 auto;
  }

  .footer-info,
  .social-networks-footer {
    text-align: left;
  }

  .social-networks-footer-item {
    text-align: left;
  }

  .social-networks-item {
    justify-content: flex-start;
  }

  .footer-email {
    width: auto;
    text-align: left;
    align-self: flex-start;
    margin-left: 0;
  }

  .footer-text-email {
    text-align: left;
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-input::placeholder {
    color: #ffffff;
  }

  .footer-button {
    margin-top: 0;
  }
}




@media screen and (min-width: 1158px) {
  
  .footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }
  .social-networks-footer {
    text-align: left;
    margin: 0;
  }

  .social-networks-footer-item {
    text-align: left;
    margin-bottom: 16px;
  }

  .social-networks-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 8px;
  }

  
  .footer-email {
    margin-left: 80px;
    text-align: left;
  }
  .footer-input {
    border: 1px solid #fff;
    width: 264px;
    opacity: 1;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
  }
  .footer-input::placeholder {
    color: #ffffff;
  }

  .footer-button {
    margin-top: 0;
  }
  
}

  /*modal*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 27px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, 
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  }

.modal-icon-field {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg,
input:focus,
 {
    fill: #4d5ae5;
    border-color: #4d5ae5;
}

.modal-field-comment {
margin-bottom: 16px;
display: block;
}

.modal-textarea-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea-comment:focus {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 21px;
}


.label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.label-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  margin-right: 8px;
 
}
.label-checkbox-link {
   color: #4d5ae5;
   text-decoration: underline;
}

.input-checkbox:checked + .label-checkbox .label-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-button-send {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send:hover, .modal-button-send:focus {
 background-color: #404BBF;
}

@media screen and (min-width: 768px){
  .modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  }
  .checkbox-container {
  margin-bottom: 24px;
  }

  }
